<!DOCTYPE html>
<html>
<head>
  <title>RailsSteps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@*" />
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@*" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@*" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" data-semver="3.3.5" data-require="bootstrap@*"></script>
 
</head>
<body>
    
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Terms',  terms_path  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <% if user_signed_in? %>
            <li><a><%= current_user.username %></a></li> 
            <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete  %></li>
           <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li> 
           <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>

  <div>
        <%if @error && @error.length > 0 then %>
            <div class="alert alert-danger"><%=@error%></div>
        <% end %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
  </div>
</div>





</body>
</html>
